/* Color Variables */

$white: #b4b4c9;
$black: #123;
$app-bg: #1c3455;
$button: #e6b344;
@import url('https://fonts.googleapis.com/css?family=Roboto');
$robo: 'Roboto', sans-serif;
// @import url(https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap);
// @import url(https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap);
// $josefin-sans: 'Josefin Sans', sans-serif;
// $lato: 'Lato', sans-serif;